server {
	server_name          _;
	listen 443           ssl;

	ssl_certificate      conf.d/yumrepo-https.crt;
	ssl_certificate_key  conf.d/yumrepo-https.key;

	root                 {{repodir}};

	location / {
		auth_basic           "Protected area";
		auth_basic_user_file  conf.d/yumrepo-webauth.users;

		autoindex             on;
	}
}
