#!/bin/sh -e

test "$(id -u)" = 0 || exec sudo "$0" "$@"

KEY="{{ rpmkeyname }}"
TOP="{{ repodir }}"

if test $# = 0; then
	echo "Usage: ${0##*/} file.rpm ..."
	exit 1
fi

mkdir -p "$TOP/rpms"
rpmsign --resign --key-id="$KEY" "$@"
cp -p "$@" "$TOP/rpms/"
createrepo "$TOP"
gpg --batch --yes --detach-sign --armor --default-key "$KEY" "$TOP/repodata/repomd.xml"

## END ##
